<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="vue.js"></script>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div id="users">
    <h2>Users</h2>
    <div class="user" v-for="user in users_list">
        e-mail: {{ user.email }}<br>
        username: {{ user.username }}
    </div>
</div>
<div id="posts">
    <h2>Posts</h2>
    <div class="post" v-for="post in posts_list">
        <div class="rating">{{ post.rating }}</div>
        <div class="header">{{ post.header }}</div>
        <div class="body">{{ post.body }}</div>
    </div>
</div>
<div id="recent_activity">
    <h2>Resent activity</h2>
    <div class="logmessage" v-for="logmessage in log_messages_list">
        <div class="datetime">{{ logmessage.datetime }}</div>
        <div class="text">{{ logmessage.text}}</div>
    </div>
</div>
<script src="index.js"></script>
</body>
</html>