@import url(https://fonts.googleapis.com/css?family=Arimo:400,400italic|Playfair+Display+SC:400,700&subset=latin,cyrillic);

div {
    width: 25%;
    background: #f1f1f1;
    float: left;
    margin: 0 15px 15px 0;
    text-align: center;
    padding: 10px;
    font-family: 'Arimo', sans-serif;
}

h2 {
    font-family: 'Playfair Display SC', serif;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 24px;
    color: #222222;
    text-align: center;
}

.user {
    text-align: left;
    width: 95%;
    background: #a5a1a0;
}

.post {
    text-align: left;
    width: 95%;
    background: #60a3a5;
}


div.post {
    display: inline;
    /*height: 100px;*/
    /*padding: 5px;*/

}


.rating {
    position: relative;
    width: 2%;
    background: rgba(111, 155, 45, 0.0);
}

.header {
    position: relative;
    width: 70%;
    background: #4f8587;
}

.body {
    width: 95%;
    background: #9fe5cb;
}

.logmessage {
    display: inline;
    width: 90%;
    margin-bottom: 10px;
}

.datetime {
    text-align: right;
    font-size: 10px;
    width: 90%;
}

.text {
    width: 90%;
    background: #c1bdbb;
}